<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <script src="../js/criptografando.js"></script>
    <title>Criptografia Online</title>
</head>

<body>
    
    <header>
        <div class="caixa-header">
            <h1><img src="../img/logo_titulo.png" alt="Logo Alura"></h1>
        </div>
    </header>

    <main>
       
        <ul class="entrada-saida">
            <li><textarea class="texto-entrada" placeholder="Digite seu texto" name="" id="caixa-de-entrada" ></textarea></li>
            <li>
                <div class="text-button">
                    <textarea class="texto-saida"  id="caixa-de-saida" placeholder="Nenhuma mensagem encontrada" readonly></textarea>
                    <button class="botao-copiar" id="botaoCopiar" onclick="copiarConteudo()">Copiar</button>
                </div>
            </li>
          
            <!-- <li class="logo-saida"><img src="../img/logo_saida.png" alt=""></li> -->
        </ul>

        <p class="mensagem-aviso"><img src="../img/atencao.png" alt="Atenção"> Apenas letras minúsculas e sem acento</p>
        
        
        <ul class="buttons">
            <li><button  class="criptografar" onclick="criptografar()">Criptrogafar</button></li>
            <li><button class="descriptografar" onclick="descriptografar()">Descriptogafar</button></li>
        </ul>

    </main>

    <footer>
        <ul class="contatos">
            <li>
                <a href="https://www.instagram.com/edielson_rodrigues_s" target="_blank"><img src="../img/instagram.png" alt="ícone instagram"></a>
            </li>
            <li>    
                <a href = "mailto:edielsonwork23@gmail.com" target="_blank"><img src="../img/gmail.png" alt="ícone gmail"></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/edielson-rodrigues-desenvolvedor/" target="_blank"><img src="../img/linkedin.png"  alt="ícone linkedin"></a>
            </li>
            <li>
                <a href="https://github.com/Edielson-Rodrigues" target="_blank"><img src="../img/github.png" alt="ícone github"></a>
            </li>
        </ul>
    </footer>
  
</body>
</html>